/*Style finalGame.html*/
#word {
    margin: 15px;
    text-align: center;
    font-family: arial;
    font-size: 25px;
    padding: 15px;
    border: 1.5px #29c68c solid;
    width: 100%;
    

}

.col-lg-5 {
    margin: 15px;
    text-align: center;
    font-family: arial;
    font-size: 25px;
    padding: 15px;
    width: 50%;
    float: right;
    border: 1.5px #29c68c solid;
}

#keyboard {
    margin: auto;
    width:100%;
    text-align: center;
}

#row1 {
      margin-top: 10px;
   }

#row2 {
    margin-top: 10px;
    text-align: center;
}

#row3 {
    margin-top: 10px;
   }

#row4 {
    margin-top: 10px;
 }

.btn.btn-link {
    background-color: tan;
    color: black;
    font-family: arial;
    font-size: 22px;
    padding: 10px;
    margin-right: 7px;
    border: 1px black groove;
    text-align: center;
    height: 66px;
    width: 66px;
}

.btn.btn-link:hover, .btn.btn-link:focus {
    color: #29c68c !important;
    border: 1px #29c68c groove;
}

sub {
    font-size: 8px;
}

.btn.btn-primary {
    background-color: tan;
    color: black;
    font-family: arial;
    font-size: 14px;
    padding: 10px;
    margin-right: 7px;
    border: 1px black groove;
    border-style: groove;
    text-align: center;
    height: 42px;
    width: 105px;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    color: #29c68c !important;
    background: transparent !important;
    border: 1px #29c68c groove;
}

#start {
    margin: 20px;
    width:100%;
    text-align: center;
}

/* Extra small devices (phones, less than 600px) */
@media only screen 
    and (max-width: 600px) {
        .btn-link {
        font-size: 17px;
        height: 25%;
        width: 25%;
            }
}

/* Small devices (portrait tablets and large phones, 600 - 768px) */
@media only screen
    and (min-width: 600px)
    and (max-width: 768px)
    {
        .btn-link {
        font-size: 17px;
        height:50%;
        width: 50%;
            }
    }

/* Medium devices (tablets, 768 - 1024px) */
@media only screen
    and (min-width: 768px)
    and (max-width: 1024px)
    {
        .btn-link {
        font-size: 17px;
        height: 75%;
        width: 75%;
            }
    }  
    
/*Style leaderboard.html*/

title {
    display:inline-block;
    color:#29c68c;
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
#survey-button {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 30%;
}

.h1.text-center {
    font-size: 23px;
    padding-left: 0;
    padding-right: 50px;
    font-weight: bolder;
}
.h1.text-center c {
    color: #29c68c;
    font-size: 20px;
}

#top10table {
    color: #29c68c;

}
tbody {
    color: #29c68c;
}
