/*Style leaderboard.html*/

.jumbotron {
    background-color:transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: ivory!important;
}
#survey-button {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 30%;
}

.btn-info.active>a,
.btn-info.open>a {
    color: #26bb84 !important;
    background: transparent !important;

}

.btn-info.a:hover,
.btn-info.a:focus {
    color: #29c68c !important;
}

.h1.text-center {
    font-size: 23px;
    padding-left: 0;
    padding-right: 50px;
    font-weight: bolder;
    color: ivory;
}
.h1.text-center c {
    color: ivory;
    font-size: 20px;
}

.btn-info {
    color: ivory;
    background-color: saddlebrown;
    border-color: none;
}