body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("bgrounde.jpg");
}

.navbar-header.col {
    padding: 0 !important;
}

.navbar-default {
    border: none !important;
}

.navbar {
    background-image: url("bgrounde.jpg");
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0;
}

.navbar .navbar-brand {
    font-size: 25px;
    padding-left: 0;
    padding-right: 50px;
    text-emphasis: emphasis;
    font-weight: bolder;
    color: ivory;
}

.navbar .navbar-brand b {
    color: #29c68c;
    font-size: 21px;
}

.navbar ul.nav li a {
    color: ivory !important;
    font-weight: 900;
}

.navbar ul.nav li a:hover,
.navbar ul.nav li a:focus {
    color: #29c68c !important;
}

.navbar ul.nav li.active>a,
.navbar ul.nav li.open>a {
    color: #26bb84 !important;
    background: transparent !important;
}

.navbar .form-inline .input-group-addon {
    box-shadow: none;
    border-radius: 2px 0 0 2px;
    background: #f5f5f5;
    border-color: #dfe3e8;
    font-size: 16px;
}

.navbar .form-inline i {
    font-size: 16px;
}

.navbar .form-inline .btn {
    border-radius: 2px;
    color: #fff;
    border-color: #29c68c;
    background: #29c68c;
    outline: none;
}

.navbar .form-inline .btn:hover,
.navbar .form-inline .btn:focus {
    border-color: ivory;
    background: #26bb84;
}

.navbar .search-form {
    display: inline-block;
}

.navbar .search-form .btn {
    margin-left: 4px;
}

.navbar .search-form .form-control {
    border-radius: 2px;
}

.navbar .login-form .input-group {
    margin-right: 4px;
    float: left;
}

.navbar .login-form .form-control {
    max-width: 158px;
    border-radius: 0 2px 2px 0;
}

.navbar .navbar-right .dropdown-toggle::after {
    display: none;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .dropdown-menu li a {
    padding: 6px 20px;
}

.navbar .navbar-right .dropdown-menu {
    width: 505px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}

.top-buffer {
    margin-top: 1%;
}

.col-xs {
    margin: 0 auto;
    float: none;
    background-color: saddlebrown;
    text-align: center;
    font-family: arial;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border: 1.5px #29c68c solid;
    border-radius: 20px;
    width: 40%;
    background-image: url("abstract-art-backdrop-926985.jpg");
}

.col-xs-1 {
    margin-left: 10%;
    margin-right: 0%;
    display: inline-block;
    background-color: saddlebrown;
    text-align: center;
    font-family: arial;
    font-weight: 800;
    font-size: 16px;
    padding: 10px;
    border: 1.5px #29c68c solid;
    border-radius: 20px;
    width: 20%;
    background-image: url("abstract-art-backdrop-926985.jpg");
}

.center {
    text-align: center;
}

#countdown {
    margin-left: 10%;
    margin-right: 0%;
    display: inline-block;
    text-align: center;
    font-family: arial;
    padding: 10px;
    border: 1.5px #29c68c solid;
    border-radius: 20px;
    width: 20%;
    background-image: url("abstract-art-backdrop-926985.jpg");
    background-color: transparent !important;
    color: #000000 !important;
    font-size: 30px;
}

#keyboard {
    margin: auto;
    width: 100%;
    text-align: center;
}

#row1 {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

#row2 {
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 90px;
}

#row3 {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
}

#row4 {
    margin-top: 10px;
}



.btn.btn-link {
    background-color: transparent;
    color: black;
    font-weight: 900;
    font-family: arial;
    font-size: 16px;
    padding: 10px;
    margin-right: 7px;
    border-bottom: 2px black groove;
    border-right: 2px black groove;
    border-top: 1px black groove;
    border-left: 1px black groove;
    height: 66px;
    width: 66px;
}

.btn.btn-link:hover,
.btn.btn-link:focus {
    color: #29c68c !important;
    border: 1px #29c68c groove;
}

sub {
    font-size: 10px;
}

#answerSpace {
    font-size: 40px;
}

#Hyperword-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    margin-top: 0;
}

.btn.btn-primary {
    background-image: url("abstract-art-backdrop-926985.jpg");
    color: black;
    font-family: arial;
    font-size: 14px;
    padding: 10px;
    margin-right: 7px;
    border-bottom: 2px black groove;
    border-right: 2px black groove;
    border-top: 1px ivory;
    border-left: 1px ivory;
    text-align: center;
    height: 42px;
    width: 105px;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    color: #29c68c !important;
    border: 1px #29c68c groove;
}

.btn.btn-danger {
    margin-left: 30%;
    float: none;
    background-image: url("abstract-art-backdrop-926985.jpg");
    color: black;
    font-family: arial;
    border-bottom: 2px black groove;
    border-right: 2px black groove;
    border-top: 1px ivory;
    border-left: 1px ivory;
    text-align: center;
    width: 40%;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
    color: #29c68c !important;
    background: transparent !important;
    border: 1px #29c68c groove;
}

@media only screen and (max-width: 600px) {
    .btn-link {
        font-size: 9px;
        height: 25%;
        width: 25%;
    }
}

/* Small devices (portrait tablets and large phones, 600 - 768px) */

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .btn-link {
        font-size: 11px;
        height: 50%;
        width: 50%;
    }
}

/* Medium devices (tablets, 768 - 1024px) */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .btn-link {
        font-size: 17px;
        height: 75%;
        width: 75%x;
    }
}

/*Style leaderboard.html*/

.jumbotron {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: black !important;
}

#survey-button {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 30%;
}

.btn-info.active>a,
.btn-info.open>a {
    color: #26bb84 !important;
    background: transparent !important;
}

.btn-info.a:hover,
.btn-info.a:focus {
    color: #29c68c !important;
}

.h1.text-center {
    font-size: 23px;
    padding-left: 0;
    padding-right: 50px;
    font-weight: bolder;
    
}

.h1.text-center c {
    
    font-size: 20px;
}

.btn-info {
    
    background-color: saddlebrown;
    border-color: none;
}

/*Style login.html*/

.form-control {
    box-shadow: none;
    border-radius: 4px;
    border-color: saddlebrown;
    color: ivory;
}

.form-control:focus {
    border-color: saddlebrown;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background-color: #fff;
}

.login-form h2 {
    margin: 0 0 15px;
    color: black;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
    color: saddlebrown;
    background-color: transparent;
}

.form-control:focus {
    border-color: saddlebrown;
}


.login-form .btn {
    color: ivory;
    border-radius: 4px;
    background: saddlebrown;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.modal-login {
    color: saddlebrown;
    width: 350px;
}

.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.modal-login .form-control:focus {
    border-color: saddlebrown;
}

.modal-login .form-control,
.modal-login .btn {
    min-height: 40px;
    border-radius: 3px;
    color: saddlebrown;
}

.modal-login.form-control.name {
    color: saddlebrown;
}

.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-login .modal-footer {
    color: ivory;
    border-color: #dee4e7;
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
}

.modal-login .modal-footer a {
    color: saddlebrown;
}

.modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background-image: url("avatar.jpeg");
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-login .avatar img {
    width: 100%;
}

.modal-login.modal-dialog {
    margin-top: 80px;
}

.modal-login .btn {
    color: ivory;
    border-radius: 4px;
    background: saddlebrown;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

.modal-login .btn:hover,
.modal-login .btn:focus {
    color: #26bb84 !important;
    background: transparent !important;
    outline: none;
}

.trigger-btn {
    display: inline-block;
    margin: 0px auto;
    color: ivory;
}

a.trigger-btn {
    display: inline-block;
    margin: 0px auto;
    color: black;
}

@media (min-width: 1200px) {
    .search-form .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

/*Style contact.html*/

.jumbotronContact {
    border: 1px solid saddlebrown;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    background-color: ivory;
}

.top-buffer2 {
    margin-top: 3%;
}

a.center {
    color: #29c68c;
}
