		body {
			background-color: #ededed;
			background-image: url("https://raw.githubusercontent.com/mattieice7486/friendfinder/master/app/public/background.png");
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			position: relative;
			height: 100vh;
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		}
		#survey-button {
			margin-left: 35%;
			margin-right: 35%;
			width: 30%;
		}